
body{
  background-color: darkgrey;
}

#title-header{
  background: navy;
  color: khaki;
}

h1{
  text-align: center;
}

#race-track{
  border: 2px solid white;
  margin: 100px, 30px, 100px, 30px;
  background-color: #091919;
}

img{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
}

.hidden  {
  visibility: hidden
}
